@import "tailwindcss";
@import "@nuxt/ui";
@import "./fonts.css";

@theme static {
    --font-sans: 'iransans';
    --color-red-primary: #DC2626;
    --color-gray-primary: #2C2E30;
    --color-gray-light: #3B3D3F;
}